@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Mobile: Bilder immer zentriert halten */
@media (max-width: 767px) {
  .project-item {
    transform: translateX(0px) !important;
  }
}
html, body {
  overflow-x: hidden;
}
